body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    padding-top: 100px;
}

h1 {
    font-size: 40px;
}

.card {
    background: white;
    width: 500px;
    max-width: 80%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}